@import '../../components/utils/variables.scss';

.sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 80px);
  width: 100%;
  background-color: $main-color-dark-2;
  color: $main-color-light-2;

  .form {
    height: 100%;
    margin-top: 2rem;
    padding: 5rem;
    border: 1px solid $main-color-light-2;

    .titles {
      text-align: center;
      margin: 3rem 0;
      cursor: default;

      .main {
        margin-bottom: 0.5rem;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }

    .container {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 2rem 0;

      .input {
        outline: 0;
        margin-bottom: 1rem;
        width: 100%;
        border: none;
        color: inherit;
        background-color: inherit;
        border-bottom: 1px solid $main-color-light-2;

        &:not(:last-child) {
          margin-bottom: 3rem;
        }
        &::placeholder {
          font-size: 1rem;
          color: inherit;
        }

        &:focus + .label {
          z-index: 1;
          transform: translateY(-1.5rem);
          font-size: 0.7rem;
          color: $main-color-light-2;
        }

        &:focus::placeholder {
          transition: all 0.5s;
          color: transparent;
        }
      }

      .label {
        position: absolute;
        color: transparent;
        left: 0;
        z-index: -1;
        transition: all 0.5s;
      }
    }
    .btn {
      padding: 1rem 2rem;
      border-radius: 10px;
      border: none;
      color: inherit;
      background-color: crimson;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
      cursor: pointer;
      transition: all 0.5s;

      &:hover {
        background-color: rgb(216, 57, 89);
        transform: scale(1.05);
      }
    }
  }
}
