@import '../../components/utils/variables.scss';

.nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  background-color: $main-color-dark-2;

  @media (max-width: 600px) {
    margin: 1rem 0;
    grid-row: 4/5;
    grid-column: 1/6;
    flex-direction: row;
  }

  .title {
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    background-color: rgb(20, 20, 20);
    cursor: default;
    text-transform: uppercase;
    letter-spacing: 1px;

    @media (max-width: 600px) {
      font-size: 1rem;
      padding: 0.6rem 0;
    }
  }
  .options {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;

    .option {
      text-align: center;
      font-weight: bolder;
      padding: 0.5rem 0;
      width: 50%;
      cursor: pointer;
      transition: all 0.5s;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;

      @media (max-width: 600px) {
        font-size: 0.8rem;
        margin-bottom: 1rem;
      }

      &:hover {
        background-color: $main-color-light-2;
        color: $main-color-dark-2;
      }
    }
  }
}
