@import '../../utils/variables.scss';

.action {
  display: flex;
  width: 100%;

  align-items: center;

  font-size: 0.7rem;
  font-weight: bold;
  border-radius: 10px;
  margin: 1rem 0;
  color: $main-color-light;
  @media (max-width: 600px) {
    width: 90%;
    font-size: 0.6rem;
    flex-direction: column;
  }
  &.income {
    background-color: rgb(15, 168, 15);
  }

  &.payment {
    background-color: crimson;
  }

  p {
    margin: 1rem;
    width: 100%;
    text-align: center;
    cursor: default;

    &:last-child {
      font-size: 1.2rem;

      &:hover {
        color: $main-color-light-2;
      }
    }
  }
}
