@import '../utils/variables.scss';

.header {
  background-color: $main-color-dark;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 600px) {
    height: 150px;
    flex-direction: column;
  }

  .copyright {
    font-size: 0.8rem;
    color: #eee;
    @media (max-width: 600px) {
      font-size: 0.6rem;
      margin-bottom: 1rem;
    }
  }

  .title {
    margin-left: 1rem;
    font-size: 1.2rem;
    color: $main-color-light;
    cursor: pointer;

    @media (max-width: 600px) {
      font-size: 1rem;
      margin-left: 0;
      margin-top: 1rem;
    }
  }

  .link {
    margin-right: 1rem;
    text-decoration: none;
    color: $main-color-light;
    font-weight: 500;
    font-size: 1.1rem;
    letter-spacing: 1px;
    border-radius: 10px;
    padding: 0.7rem 2rem;
    transition: all 0.5s;

    @media (max-width: 600px) {
      font-size: 0.8rem;
      padding: 0.5rem 1.5rem;
      background-color: $main-color-light-2;
      color: $main-color-dark-2;
      margin: 0;
      margin-bottom: 1rem;
    }

    &:hover {
      background-color: $main-color-light-2;
      color: #eee;

      @media (max-width: 768px) {
        background-color: crimson;
        color: #eee;
      }
    }
  }
}
