// colors
$main-color-light: rgb(230, 230, 230);
$main-color-light-2: rgb(180, 180, 180);
$main-color-dark: rgb(29, 29, 29);
$main-color-dark-2: rgb(31, 31, 31);

$sub-color: rgb(220, 20, 60);
$sub-color-2: rgb(221, 51, 85);
